button {
    height: 46px;
    font-size: 18px;
    border-radius: 3px;
    border-style: none;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &.continue {
        background-color: rgb(238, 112, 35);
        color: #ffffff;
    }
    &.back {
        background-color: #d4b8a3;
        color: rgb(81, 43, 43);
    }
}