/*
This file contains our directly form related css 
*/

.form {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    .formHeader {
        height: 100px;
        background-color: #fdf9f6;
        position: relative;
        .stepsIndicatorContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-left: 0px;
            justify-content: space-between;
            width: 95%;
            height: 32px;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .active {
                span {
                    &:before {
                        background: #f35b1c;
                    }
                }
            }
            li {
                list-style: none;
                display: inline-block;
                a {
                    text-decoration: none;
                    font-size: 13px;
                    display: inline-block;
                    color: #512b2b;
                    line-height: 35px;
                    span {
                        &:before {
                            border-radius: 50%;
                            min-width: 30px;
                            max-width: 30px;
                            height: 30px;
                            display: block;
                            text-align: center;
                            background: #fdc129;
                            counter-increment: section;
                            content: counter(section);
                            color: #fff;
                            font-size: 19px;
                            font-weight: bold;
                            margin: 0 auto;
                            transition: all 200ms ease-in-out;
                            line-height: 32px;
                        }
                    }
                }
            }
        }

        .stepIndicator.active a::before {
            background: #f35b1c;
            transition: all 200ms ease-in-out;
        }
        .stepIndicator:hover ::before {
            background: #ee7023;
            transition: all 200ms ease-in-out;
        }
        .stepIndicator a:hover {
            text-decoration: none;
        }
        .formHeader {
            position: relative;
            background: #f8f8f8;
        }
        .middleLine {
            width: 87%;
            height: 2px;
            background: orange;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .content {
        .step {
            padding: 15px 15px 30px 15px;
            display: none;
            &.active {
                display: block;
            }
            .formFields {
                .formItem {
                    min-height: 44px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:not(:first-child) {
                        margin-top: 20px;
                    }
                    &.inline {
                        justify-content: start;
                        padding-left: 20%;
                        .text {
                            width: 210px;
                        }
                        .field {
                            margin-left: 20px;
                        }
                    }
                    .field {
                        display: flex;
                        align-items: center;
                        .unit {
                            color: rgb(163, 139, 128);
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .formFooter {
        height: 60px;
        background-color: #f8f8f8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
}
