/* 
This file governs our basic layouts
*/

html {
    color: #fbf2ea;
    height: 100%;
    body {
        counter-reset: section;
        height: 100%;
        main {
            height: 100%;
            >.inner {
                background-color: #FFF;
                border-radius: 3px;
                color: #000000;
            }
        }
    }
}
