/*
Headings and other typography related styles go here
*/
html {
    font-family: Arial, Helvetica, sans-serif;
    color: #512b2b;
    h1 {
        color: rgb(243, 91, 28);
    }
    h2 {
        color: rgb(81, 43, 43);
    }
    textarea {
        font-family: Arial, Helvetica, sans-serif;
    }
}
